<%- include('../partials/header.ejs') %>

<h1>
	<%= flashcards %>
</h1>

<p>
	<%- p_01 %>
</p>
<p>
	<%- p_02 %>
</p>
<p>
	<%- p_03 %>
</p>
<div class="center-text vertical-buffer-10">
	<img
	src="/static/img/flashcards-shoebox-(c)pinterest.jpg"
	alt="<%= altShoeBox %>"
	class="width-xl-60 width-lg-60 width-md-80 width-sm-100 width-100">
</div>
<p>
	<%- p_04 %>
</p>
<p>
	<%- p_05 %>
</p>
<div class="center-text">
	<strong>
		<%= comingSoon %>
	</strong>
</div>

<%- include('../partials/footer.ejs') %>
