<%- include('../partials/header.ejs') %>

<h1><%= myPortfolio %></h1>

<p><%- p_01 %></p>
<p><%- p_02 %></p>
<p>
	<ul>
		<li><%- p_03 %></li>
		<li><%- p_04 %></li>
		<li><%- p_05 %></li>
	</ul>
</p>

<hr>

<h3><%= myProjects %></h3>
<ul>
	<li>
		<h4><%- snow %></h4>
		<p><%= p_06 %></p>
		<p><%- comingSoon %></p>
	</li>
	<li>
		<h4><%- neologismGenerator %></h4>
		<p><%- comingSoon %></p>
	</li>
	<li>
		<h4><%- autolemmatizer %></h4>
		<p><%- comingSoon %></p>
	</li>
</ul>

<%- include('../partials/footer.ejs') %>