<%- include('../partials/header.ejs') %>
<h1>
	<%= helloMyNameIsVictor %>
</h1>
<h2>
	<%= iAmWebDev %>
</h2>
<hr>

<h3><%= webDevFullStack %></h3>
<p><%- p_01 %></p>

<p><%- p_02 %></p>

<p><%- p_03 %></p>
<ul>
	<li>Linux (Ubuntu)</li>
	<li>Nginx</li>
	<li>NodeJS</li>
	<li>PostgreSQL / MongoDB</li>
	<li>Bootstrap</li>
</ul>

<p><%- p_04 %></p>

<div class="center-text">
	<img class="limit-width width-xl-70 width-lg-70 width-md-80 width-sm-90" src="/static/img/my-stack.png"
	alt="<%= alt_01 %>">
</div>


<h4><%= otherTechnologies %></h4>
<ul>
	<li>React</li>
	<li>Java</li>
	<li>PHP</li>
	<li>Rust</li>
</ul>

<h4><%= myFullCV %></h4>
<ul>
	<li><%- cv_link_01 %></li>
	<li><%- cv_link_02 %></li>
	<li><%- cv_link_03 %></li>
</ul>

<h3>FOSS &mdash; Free & Open Source Software</h3>
<p><%- p_05 %></p>

<h3><%= englishAndGermanTeacher %></h3>
<p><%- p_06 %></p>

<h3><%= contact %></h3>
<p><%- p_07 %></p>

<h3><%= whatDoesVulpiMean %></h3>
<p>
	<%- p_08 %>
</p>

<%- include('../partials/footer.ejs') %>