<%- include('../partials/header.ejs') %>

<h1>
	<%= vulpiIdeas %>
</h1>
<h3>
	<%= solutionsForLangLearn %>
</h3>

<p>
	<%- p_01 %>
</p>
<p>
	<%- p_02 %>
</p>

<h3>
	<%= aWorkInProgress %>
</h3>
<p>
	<%- p_03 %>
</p>

<%- include('../partials/footer.ejs') %>